<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-chart-line"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Expenses</div>
    </a>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('load_charts') }}">
            <i class="fas fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('load_tables') }}">
            <i class="fas fa-table"></i>
            <span>Tables</span>
        </a>
    </li>

</ul>
