{% extends "layout.html" %}

{% block title %}Charts{% endblock %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Charts</h1>

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<!-- Chart.js -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- SB Admin 2 demo chart scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

{% endblock %}
